<!-- {{ now | date:'long' | uppercase }} -->

<!-- <h1>Cur Sec: {{curSec$ | async}}</h1> -->

<!-- <h1 [class.is-small]="isBelow$ | async">
  {{ tasks.length | prettyCount:'task' }}
</h1> -->
<app-panel>
  <!-- // Before NgRx: -->
  <!-- <app-new-task (addTask)="onAddTask($event)"></app-new-task> -->
  <!-- <app-task-list
    [tasks]="tasks"
    (deleteTask)="onDeleteTask($event)"
    (toggleTask)="onToggleTask($event)"></app-task-list> -->
  <app-new-task></app-new-task>
  <app-task-list></app-task-list>
</app-panel>
